# Exercism
**/.exercism/
**/users/

# Python
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/*.pyc/

# Rust
**/target/
**/*.rs.bk
Cargo.lock
**/.gitignore
!.gitignore

# Go

# Typescript
**/node_modules/

# Elm
**/elm-stuff
**/repl-temp-*